.img-a {
  width: 200px;
  border-radius: 15px;
  border: 1px solid gray;
}

.img-b {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border: 1px solid gray;
}

.img-c {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center;
  border: 1px solid gray;
}
